<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>My Page</h2>
      <h5>マイページ</h5>

      <%= link_to "アカウント情報を変更する", edit_user_path(current_user), class: 'btn'%><br>
      <%= link_to "トップページに戻る", root_path, class: 'btn'%>
    </div>
    <div class='account-page__inner--right user-form'>
        <div class='field'>
          <div class='field-label'>
            なまえ： <br>
            <%= @user.name %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            プレイ時間帯：<br>
            <%= @user.play_time.name %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            好きなキャラクター(キラー)：<br>
            <%= @user.character_killer.name %>
          </div>
        </div>
         <div class='field'>
          <div class='field-label'>
            好きなキャラクター(サバイバー)：<br>
            <%= @user.character_survivor.name %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            自己紹介：<br>
            <%= @user.self_info %>
          </div>
        </div>
    </div>
  </div>
</div>
